* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;
  background-color: #f7f5fd;
  font-family: "SN Pro", sans-serif;
    overflow-x: hidden;

}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 100px;
  align-items: center;
  background-color: #fff;
}

.menu-mobile, .buttons-mobile{
  display: none;
}

.img-logo {
  display: flex;
  align-items: center;
}

.h2-title {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 5px;
}

button {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.btn-signup {
  background-color: #fff;

  transition: all 0.5s;

  &:hover{
      background-color: #fac33a;
  }
  }

.btn-login {
  color: #fff;
  background-color: #3366ff;
  transition: all 0.5s;

  &:hover{
      background-color: #2e5be0;

  }
}

.first-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin-top: 70px;
  height: 100%;
}

.title-first-page {
  font-size: 80px;
}

.txt-first-page {
  width: 80%;
  font-size: 20px;
  margin-bottom: 70px;
}

.img-first-page img {
  height: 100%;
}

.sub-title {
  font-size: 30px;
}

ol {
  font-size: 18px;
}

.btn-get-start button {
  margin-top: 50px;
  background-color: #f5c856;
  width: 150px;
  height: 50px;
  transition: all 0.6s;

  &:hover {
    background-color: #fac33a;
  }
}

.second-div {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 350px;
  padding: 80px 20px;
}

.second-div video {
  width: 700px;
  border-radius: 10px;
}

.three-div-img {
  background-color: #fff;
  height: 150px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.three-div-img img {
  height: 20%;
  display: flex;
}

.four-div {
  background-color: #fff;
  padding: 100px 40px;
}

.four-div-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
}

.four-div-grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

i {
  font-size: 60px;
  margin-bottom: 25px;
}

.title-grid {
  margin-bottom: 15px;
  font-size: 20px;
}

.four-div-grid p {
  color: #5a5a5a;
  font-size: 15px;
}


footer {
  padding: 0 60px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.first-div-footer {
  margin-top: 80px;

}

.promotion-div {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.promotion-div span {
  padding: 10px 0;
}

input {
  width: 250px;
  height: 40px;
  border: 1px solid rgba(37, 37, 37, 0.212);
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;

}

.btn-div-promotion {
  display: flex;
  gap: 20px;
}

.btn-promotion {
  color: #fff;
  background-color: #3366ff;
  transition: all 0.5s;

  &:hover{
      background-color: #2e5be0;

  }
}

.menu-footer {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.links a {
  text-decoration: none;
  color: #464646;
}

.second-div-footer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
  align-items: center;


}

.privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 27%;
  text-align: center;
}

.privacy h2 {
  font-family: "Audiowide", sans-serif;

  font-size: 18px;
}

.privacy a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.socials {
  display: flex;
  gap: 10px;
  align-items: center;

}

i {
  font-size: 20px;
  color: black;
  transition: all 0.5s;
  &:hover
  {
    color: #3366ff;
  }
}

.developer{
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  
  .menu{
    padding: 0 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .menu-desktop{
  display: none;
 }

 .buttons-mobile.active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1f1f1;
    height: 140px;
 }
 
 .btn-login, .btn-signup{
    display: flex;
    align-items: center;
    justify-content: center;
 margin-top: 20px;


  }

  .menu-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }


  .menu-mobile i{
        font-size: 1.5rem;
        align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .first-div{
    flex-direction: column;
    padding: 0px 15px;
    text-align: center;
    margin-top: 50px;
  }

  .title-first-page{
    font-size: 35px;
  }

  .txt-first-page{
    width: 100%;
    font-size: 16px;
    margin-bottom: 60px;
  }
 .sub-title{
  font-size: 25px;
 }
ol {
  font-size: 16px;
}
img, video{
  height: auto;
  max-width: 100%;
}
.btn-get-start button{
  margin-bottom: 40px;
}
.second-div{
  margin-top: 0px;
   
}
.three-div-img {
    display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
}
.three-div-img img{
  margin-top: 40px;
      height: 100%;


}
.four-div-grid{
  display: flex;
  flex-direction: column;
    height: 100%;
}
i {
  font-size: 35px;
  margin-bottom: 25px;
}

.title-grid {
  margin-bottom: 15px;
  font-size: 20px;
}

footer{
  padding: 0;

}
.container-footer{
    display: flex;
  flex-direction: column;
    width: 100%;

}

.first-div-footer {
  margin-top: 20px;

}

.img-logo, .promotion-div{
      display: flex;
  justify-content: center;
  align-items: center;
  
}

 .btn-div-promotion{
  display: flex;
  flex-direction: column;
  align-items: center;
    width: 100%;

 }

 .btn-div-promotion input, button{
  width: 70%;
 }

 .menu-footer{
  display: flex;
  flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

 }
.links{
  gap: 5px;
 }

 .second-div-footer{
    display: flex;
    flex-direction: column;
  justify-content: center;
  width: 100%;
 }

 .privacy{
  display: flex;
  flex-direction: column;
    width: 100%;
      gap: 15px;

}

.socials{
  margin-top: 20px;
}

}